@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

:root {
    --secondary-color: #f1c40f;
    --background-color: #eee;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color) ;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: var(--background-color);
}

.logo {
    width: 350px;
    height: auto;
    padding: 10px;
}

.main-nav {
    text-align: left;
    padding: 10px;
    background-color: var(--secondary-color);
    transform: scale(1, 0);
    position: absolute;
}

.hamburger-anchor {
    display: none;
}

.hamburger-anchor:checked ~ .main-nav {
    transform: scale(1, 1);
}

.hamburger-label {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
    margin-left: 1.5em;
    height: 100%; 
    display: flex;
    align-items: center;
}

