@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

:root {
    --secondary-color: #f1c40f;
    --background-color: #eee;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color) ;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: var(--background-color);
}

.logo {
    width: 350px;
    height: auto;
    padding: 10px;
}


.hamburger-anchor {
    display: none;
}

.hamburger-anchor:checked ~ .main-nav {
    transform: scale(1, 1);
}

.hamburger-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%; 
    display: flex;
    align-items: center;
}

.hamburger, .hamburger::before, .hamburger::after {
    position: relative;
    width: 2.5em;
    height: 3px;
    border-radius: 2px;
    background-color: var(--secondary-color);
}

.hamburger::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
}

.hamburger::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
}

.main-nav {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 10px;
    background-color: var(--secondary-color);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
}

.nav-link {
    list-style: none;
    margin-left: 1em;
    margin-bottom: 4px;
}

.nav-link a {
    text-decoration: none;
    color: #000;
}